
.img1 {
    width: 100vw;
    height: 75vh;
    background-image: url('../../assets/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img2 {
    width: 100vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing {
    background-color: rgb(170, 155, 155);
    width: 100vw;
}

.landing__box {
    height: 50vh;
    width: 75%;
}

.landing__box--left {
    background-color: rgb(231, 41, 41);
}

.landing__box--right {
    background-color: rgb(63, 53, 53);
    margin-left: 25%;
}

.landing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;

    p {
        width: 80%;
    }
}

.landing__text--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin-left: 15%;

    h1, p {
        text-align: end;
        margin-right: 10%;
    }
}

.landing__text h1, .landing__text--right h1 {
    font-family: 'Lobster', cursive;
    font-weight: 300;
    color: white;
    font-size: calc(2.4em + 0.390625vw);
}

.landing__text p, .landing__text--right p {
    color: white;
    font-size: calc(15px + 0.390625vw);
    margin-top: 10px;
}

.landing__btn {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing__btn--right {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.landing__btn button {
    margin-bottom: 8%;
    margin-right: 8%;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.landing__btn--right button {
    margin-bottom: 8%;
    margin-left: 8%;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1024px) {
    .img2 {
        width: 100vw;
        height: 50vh;
        background-size: cover;
    }
    .landing__box {
        height: 65vh;
        width: 55%;
    }
    .landing__box--right {
        margin-left: 45%;
    }
    .landing__text {
        margin-left: 10%;
    }
    .landing__text--right {
        margin-left: 30%;
    }
    .landing__btn button, .landing__btn--right button {
        padding: 15px;
        font-size: 1.3em;
        border-radius: 15px;
    }
    .landing__text h1, .landing__text--right h1 {
        font-size: calc(3em + 0.390625vw);
    }
  
}

@media screen and (max-width:500px) {
    .img1 {
        display: none;
    }
    .landing__text, .landing__text--right {
        br {
            display: none;
        }
        p {
            font-size: .8em;
        }
        h1 {
            font-size: 1.4em ;
        }
    }
}

@media screen and (max-width:380px) {
    .landing__text--right {
        margin-left: 7%;
    }
}