.creative {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creative__title {
    display: none;
}
.creative__banner {
    height: 20%;
    width: 100%;
    margin-bottom: 3%;

    img {
        width: 100%;
        height: 100%;
    }
}

.creative__text {
    width: 60%;
    font-size: 1.2em;
    text-align: justify;

    h2 {
        font-family: 'Lobster', cursive;
        font-size: 1.6em;
        font-weight: 400;
        margin-bottom: 2%;
    }
}

.creative__columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    ul {
        display: block;
        margin: 0 auto;
        
        li {
            font-size: 1.2em;
            font-weight: 400;

        }
    }

}

@media screen and (max-width:1024px) {
    .creative__text {
        width: 80%;
    }

}
@media screen and (max-width:800px) {

    .creative__banner {
        min-height: 60px;
    }

    .creative__columns {
        flex-direction: column;
        text-align: left;
        width: 75%;
        ul {
            width: 100%;
            text-align: left;
            display:inline-block;
        }
    }
}

@media screen and (max-width:550px) {
    .creative__banner {
        display: none;
    }

    .creative__title {
        display: block;
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: .7em;
        width: 90%;
        margin: auto;
        margin-bottom: 4vh;
        strong {
            font-size: 1.3em;
        }
    }

    .creative__text {
        h2 {
            font-size: 1.3em;
        }
    }

}

@media screen and (max-width: 380px) {
    .creative__text {
        p {
            font-size: .7em;
        }
    }
    .creative__columns {
        ul {
            li {
                font-size: .8em;
            }
        }
    }
}