.popularContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popularContainer__list {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.popularContainer__card {
    position: relative;
}