.productContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productContainer__list {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.productContainer__card {
    position: relative;
}

@media screen and (min-width: 1024px) {
    .productContainer__list {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .productContainer__list {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}