.navbar {
    height: 8vh;
    width: 100vw;
    background-color: white;
    display: none;
}

.navbarMobile {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

.navbarMobile__logo {
    width: 20%;
    height: 100%;
    max-width: 134px;
    max-height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        min-width: 90px;
        height: 83%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.navbar__logo {
    width: 20%;
    height: 100%; 
    img {
        max-width: 100px;
    }  
}
.navbar__links {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__links a {
    text-decoration: none;
    color: black;
    font-size: .9em;
    font-weight: 500;
}

.navbar__links a:hover {
    color: rgb(231, 41, 41);
    text-decoration: underline rgb(231, 41, 41) 2px;
}

.clicked {
    color: rgb(231, 41, 41);
    text-decoration: underline rgb(231, 41, 41) 2px;
}

.navbar__socials, .navbarMobile__socials {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        margin-left: 10%;
        height: 22px;
        width: 22px;
    }

}

.navbarMobile__menuIcon {
    width: 50%;
    height: 60%;
}

.navbarMobile__menu {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__icon, .navbarMobile__icon {
    width: 100%;
    height: 100%;
}

.navbarMobile__links {
    position: absolute;
    top: 15vh;
    z-index: 1000;
    width: 100vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: .7);
    justify-content: space-around;
    
    a {
        color: white;
        text-decoration: none;
        font-size: .9em;
        font-weight: 500;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .navbarMobile {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .navbarMobile__logo {
        img {
            height: 63%;
        }
    }
}