.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.footer--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.footer__logo {
    margin: auto;
    width: 20%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__img {
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 76%;
}

.footer__text h3 {
    text-align: center;
    margin-bottom: 2%;
}

.footer__text {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.footer__text p {
    font-size: .7em;
    text-align: justify;
}

.footer__socials {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 7px;
}

.footer__contact a:hover {
    color: rgba($color: #000000, $alpha: .7);
}
.footer__contact p {
    margin-left: 5px;
    font-size: small;
}

.footer--block {
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}

.footer__copyright p {
    font-size: .6em;
    font-weight: 400;
}

@media screen and (min-width:1024px) {
    .footer {
        margin-top: 4vh;
        height: 30vh;
    }
    .footer--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .footer__socials {
        flex-direction: row;
        width: 50%;
    }
    .footer__body {
        justify-content: space-around;
        width: 80%;
    }

    .footer__contact h3 {
        text-align: left;
        margin-bottom: 15px;
    }
    .footer__text h3 {
        margin-bottom: 15px;
    }

    .footer__text {
        width: 55%;
    }
    .footer__text p {
        margin: 0 10%;
        font-size: .9em;
    }
    .footer__img {
        height: 100%;
        width: 58%;
        text-align: center;
    }
    .footer__logo {
        height: 200px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__contact {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .footer__socials, .footer__text {
        font-size: .8em;
    }
    .footer__socials {
        width: 40%;
    }

    .footer__contact {
        a {
            p {
                font-size: .8em;
            }
        }
    }
}


@media screen and (max-width:328px) {
    .footer__text {
        display: none;
    }
}